@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'Poppins', sans-serif;
    }

    input:-webkit-autofill:is(:hover,:focus, :active),
    input:-webkit-autofill {
        -webkit-text-fill-color: #505050;
        -webkit-box-shadow: 0 0 0 40px #0a0a0a inset !important;
    }
}